.create-list-link {
  padding: 10px;
  border-radius: 6px;
  background-color: #362C28;
  color: white;
}

.create-list-link:hover {
  text-decoration: none;
  color: rgb(200,200,200)
}

.submit {
  padding: 10px;
  border-radius: 6px;
  background-color: #362C28;
  color: white;
}

.submit:hover {
  text-decoration: none;
  color: rgb(200,200,200);
}

.list-link:hover {
  text-decoration: none;
  color: rgb(200,200,200);
}

.delete-link {
  color: white;
}

.delete-link:hover {
  text-decoration: none;
  color: rgb(200,200,200)
}

